<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Tasks</title>
</head>
<body>
    <div>
        <tr th:each="task,iterationStatus : ${tasks}">
                <p>
                    <td th:text="${iterationStatus.count}">1</td>
                    <td th:text="${task.title}"></td>
                </p>
            <a th:href="@{/add-task(taskId=${task.id})}">
                Add to list
            </a>
        </tr>
    </div>
    <hr>
    <a th:href="@{/}">
        Go Back
    </a>
</body>
</html>